<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSru97R02hsrRA7c3mK1CyYapctJcqqtw</string>
	<key>GCM_SENDER_ID</key>
	<string>29589868853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hieroglyphicApp</string>
	<key>PROJECT_ID</key>
	<string>hieroglyphic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hieroglyphic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29589868853:ios:970d1a96a61fd7caa33c7c</string>
</dict>
</plist>